<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AvilesJenifer.Properties.Settings.db_parqueo_vehicular_aviles_jeniferConnectionString" connectionString="Data Source=DESKTOP-GPDU8II\SQLEXPRESS;Initial Catalog=db_parqueo_vehicular_aviles_jenifer;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
